
/* Estilos adicionales para pantallas pequeñas (hasta 1366px de ancho) */
@media screen and (max-width: 1366px){
    .encabezado{       
        width: 98vw;
        height: 30px;
        background:white;
        left:-2px; 
        margin-top:2px; 
        padding-left: 5px;
        border-radius:5px; 
    }    
    .conten-ppal{
        position:absolute;
        border-radius: 5px;
        width: 99.5vw;
        height: 91vh;       
        left:3px;
        padding: 10px;       
        flex-direction: column;
        background: #4568DC;  /* fallback for old browsers */
        background: -webkit-linear-gradient(to bottom, #4568DC, #B06AB3);  /* Chrome 10-25, Safari 5.1-6 */
        background: linear-gradient(to bottom, #B06AB3, #4568DC); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */ 
    }

    .content-center{      
        border-radius:5px;
        padding:2px;        
        height:450px;
        left:-2px; 
        margin-top:5px;               
        width:98vw;      
    } 
    
    
    .div-right{
        margin-top: -1px;       
        border-radius: 5px; 
        background:#dcdcdc;  
        width:100%; 
        text-align:center; 
        left: 2px;
        padding: 5px;  
        height:5vh;  
        margin-right:5px; 
        flex: 1;       
    }   
    
    .content-button{       
        border-radius: 5px;         
        height: 50px ;      
        left:0px;                   
        width:98vw;
        margin-top:-39px;
        background: #1e3c72;  /* fallback for old browsers */
        background: -webkit-linear-gradient(to bottom, #B06AB3, #1e3c72);  /* Chrome 10-25, Safari 5.1-6 */
        background: linear-gradient(to bottom, #B06AB3, #1e3c72); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */ 
    }   

    .div-total-pago{
        border-radius: 5px;
        width: 320px;
        height: 48px;
        background:#c8c8c8;       
        top:0px;
        margin-right:2px; 
        padding: 2px;  
        float: inline-end;              
        font-size:18px;
        font-family: Arial, Helvetica, sans-serif;
             
    }

    .div-total_artic{
        border-radius: 5px;
        width: 190px;
        height: 48px;
        background:#c8c8c8;
        position: relative;
        padding: 2px; 
        font-size:18px;
        color: black;
        float: inline-end;
        font-family: Arial, Helvetica, sans-serif;
        margin-right:5px; 
        top: 0px;
        
    }

    .div-factura{
        border-radius: 5px;
        width: 270px;
        height: 48px;
        background:#c8c8c8;
        position: relative;
        padding: 2px; 
        font-size:18px;
        color: black;
        float: inline-end;
        font-family: Arial, Helvetica, sans-serif;
        margin-right:5px; 
        top: 0px;
        
    }

        
    .div-carrito-vacio{       
        border-radius: 10px;           
        margin: 2% auto ; 
        text-align: center;
        width:380px;
        height: 350px;
    }

    .img-carrito-vacio{      
        position:relative;
        margin:2px auto;
        border-radius: 10px;
        width: 280px;
        height: 280px;
    }

    :host ::ng-deep .p-dialog{
        width:70vw ;
        height:40vh;     
      } 
    
    .div-dialogo{
        position:absolute;
        border-radius: 5px;
        width: 100%;
        height:20vh;    
        padding: 20px; 
        background: #1e3c72;  /* fallback for old browsers */
        background: -webkit-linear-gradient(to bottom, #B06AB3, #1e3c72);  /* Chrome 10-25, Safari 5.1-6 */
        background: linear-gradient(to bottom, #B06AB3, #1e3c72); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */ 
    } 

    :host ::ng-deep .p-datatable {
        max-width: 100%; // Establece el ancho máximo
        max-height: 425px;
        overflow-x: auto; // Habilita el desplazamiento horizontal       
    }
    
    .caja-2{
        border-radius: 5px;
        width: 99%;
        height: 150px;       
        margin-left: 5px;
        margin-top: 5px;
        background: #1e3c72;  /* fallback for old browsers */
        background: -webkit-linear-gradient(to bottom, #B06AB3, #1e3c72);  /* Chrome 10-25, Safari 5.1-6 */
        background: linear-gradient(to bottom, #B06AB3, #1e3c72); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */ 
        padding-top: 2px;  
        padding-left: 15px;
    } 

    .caja-3{
        border-radius: 5px;
        width: 99%;
        height: 240px;       
        margin-left: 5px;
        margin-top: 5px;
        background: #1e3c72;  /* fallback for old browsers */
        background: -webkit-linear-gradient(to bottom, #B06AB3, #1e3c72);  /* Chrome 10-25, Safari 5.1-6 */
        background: linear-gradient(to bottom, #B06AB3, #1e3c72); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */ 
        padding-top: 2px;  
        padding-left: 15px;
    } 

    :host ::ng-deep .mi-dialogo {
        width: 21vw !important; /* Ajusta el ancho deseado */
        height: 45vh !important; /* Ajusta el alto deseado */
    }

    :host ::ng-deep .mi-dialogo2 {
        width: 31vw !important; /* Ajusta el ancho deseado */
        height: 60vh !important; /* Ajusta el alto deseado */       
    }
    
    .div-cc{
        margin-top: -1px;       
        border-radius: 5px; 
        background:#dcdcdc;  
        width:100%;       
        padding-left:5px;
        padding: 2px;  
        height:5vh;  
        margin-right:5px; 
        flex: 1;       
    }

    :host ::ng-deep .p-dropdown{       
        z-index: 1001;        
    }

    .btn-end{
        display: flex;
        justify-content: flex-end; 
        margin-right: 12px;
    }
}


/* Estilos para pantallas medianas y pequeñas (hasta 1600px de ancho) */
@media screen and (min-width: 1600px) {
    .encabezado{       
        width: 98vw;
        height: 30px;
        background:white;
        left:-2px; 
        margin-top:2px; 
        padding-left: 5px;
        border-radius:5px; 
    }    
    .conten-ppal{
        position: absolute;
        border-radius: 5px;
        width: 99.5vw;
        height: 92vh;       
        left:3px;
        padding: 10px;       
        flex-direction: column;
        background: #4568DC;  /* fallback for old browsers */
        background: -webkit-linear-gradient(to bottom, #4568DC, #B06AB3);  /* Chrome 10-25, Safari 5.1-6 */
        background: linear-gradient(to bottom, #B06AB3, #4568DC); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */ 
    }

    .content-center{      
        position: relative;        
        border-radius:5px;
        padding:2px;        
        height:515px;
        left:-2px; 
        margin-top:5px;               
        width:98.5vw;      
    } 
    
    .div-right{
        margin-top: -1px;       
        border-radius: 5px; 
        background:#dcdcdc;  
        width:100%; 
        text-align:center; 
        left: 2px;
        padding: 5px;  
        height:5vh;  
        margin-right:5px;        
    }   
    
    .content-button{        
        border-radius: 5px;         
        height: 50px ;      
        left:0px;                   
        width:100%;
        margin-top:22px;
        background: #1e3c72;  /* fallback for old browsers */
        background: -webkit-linear-gradient(to bottom, #B06AB3, #1e3c72);  /* Chrome 10-25, Safari 5.1-6 */
        background: linear-gradient(to bottom, #B06AB3, #1e3c72); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */ 
    }   

    .div-total-pago{
        border-radius: 5px;
        width: 320px;
        height: 48px;
        background:#c8c8c8;       
        top:0px;
        margin-right:2px; 
        padding: 2px;  
        float: inline-end;              
        font-size:18px;
        font-family: Arial, Helvetica, sans-serif;
             
    }

    .div-total_artic{
        border-radius: 5px;
        width: 190px;
        height: 48px;
        background:#c8c8c8;
        position: relative;
        padding: 2px; 
        font-size:18px;
        color: black;
        float: inline-end;
        font-family: Arial, Helvetica, sans-serif;
        margin-right:5px; 
        top: 0px;
        
    }

    .div-factura{
        border-radius: 5px;
        width: 270px;
        height: 48px;
        background:#c8c8c8;
        position: relative;
        padding: 2px; 
        font-size:18px;
        color: black;
        float: inline-end;
        font-family: Arial, Helvetica, sans-serif;
        margin-right:5px; 
        top: 0px;        
    }

        
    .div-carrito-vacio{       
        border-radius: 10px;           
        margin: 2% auto ; 
        text-align: center;
        width:380px;
        height: 350px;
    }

    .img-carrito-vacio{
        position:relative;
        margin: 60px auto;
        border-radius: 10px;
        width: 280px;
        height: 280px;
    }

    :host ::ng-deep .p-dialog{
        width:53vw !important;
        height:33vh !important;     
      } 
    
    .div-dialogo{
        position:absolute;
        border-radius: 5px;
        width:45vw;
        height:138px;    
        padding: 20px; 
        background: #1e3c72;  /* fallback for old browsers */
        background: -webkit-linear-gradient(to bottom, #B06AB3, #1e3c72);  /* Chrome 10-25, Safari 5.1-6 */
        background: linear-gradient(to bottom, #B06AB3, #1e3c72); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */ 
    } 

    :host ::ng-deep .p-datatable {
        max-width: 100%; // Establece el ancho máximo
        max-height: 535px;
        overflow-x: auto; // Habilita el desplazamiento horizontal       
    }

    .caja-2{
        border-radius: 5px;
        width: 99%;
        height: 150px;       
        margin-left: 5px;
        margin-top: 5px;
        background: #1e3c72;  /* fallback for old browsers */
        background: -webkit-linear-gradient(to bottom, #B06AB3, #1e3c72);  /* Chrome 10-25, Safari 5.1-6 */
        background: linear-gradient(to bottom, #B06AB3, #1e3c72); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */ 
        padding-top: 2px;  
        padding-left: 15px;
    }

    .caja-3{
        border-radius: 5px;
        width: 100%;
        height: 270px;       
        margin-left: 5px;
        margin-top: 5px;
        background: #1e3c72;  /* fallback for old browsers */
        background: -webkit-linear-gradient(to bottom, #B06AB3, #1e3c72);  /* Chrome 10-25, Safari 5.1-6 */
        background: linear-gradient(to bottom, #B06AB3, #1e3c72); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */ 
        padding-top: 2px;  
        padding-left: 15px;
        position: relative;            
    }
    
    :host ::ng-deep .mi-dialogo {
        width: 21vw !important; /* Ajusta el ancho deseado */
        height: 37vh !important; /* Ajusta el alto deseado */
    } 

    :host ::ng-deep .mi-dialogo2 {
        position: relative;
        width: 30vw !important; /* Ajusta el ancho deseado */
        height: 53vh !important; /* Ajusta el alto deseado */              
    }
    
    .bg{
        background-color: #4169E1;
    }

    .div-cc{
        margin-top: -1px;       
        border-radius: 5px; 
        background:#dcdcdc;  
        width:100%;       
        left: 2px;
        padding: 5px;  
        height:5vh;  
        margin-right:5px; 
        flex: 1;       
    }

    :host ::ng-deep .p-dropdown{
        position: relative;
        z-index: 1001;        
    }

    .btn-end{
        display: flex;
        justify-content: flex-end; 
        margin-right: 25px;
    }
   
}

label{
    color: white;
}

span{
    margin-top: 3px;
    font-size: 22px;    
}

.span-background{
    background: #0f0c29;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #24243e, #302b63, #0f0c29);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #24243e, #302b63, #0f0c29); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

:host ::ng-deep .p-button2 {
    border-radius: 3px;
    margin-right: .2rem;   
    color: white; 
    border-radius: 5px;
    width: 5px;
    height: 25px;
}

:host ::ng-deep .p-button2:hover {
    border-radius: 5px;
    margin-right: .2rem;   
    background-color:white; 
    color:red; 
    font: bold;  
}

:host ::ng-deep .p-checkbox{
    border: 1px solid blue;
    border-radius: 5px;    
}

.name-label{
    color: black;
}

.red-cell {
    background-color: rgb(247, 119, 119) !important; /* Asegúrate de usar !important si es necesario */
    color: white;
    text-align: center;
    width:90px; 
    height: 30px;
    border-radius: 5px;  
    padding-top: 2px; 
    
  }
  
  .green-cell {
    background-color: #007ad9 !important; /* Asegúrate de usar !important si es necesario */   
    color: white;
    text-align: center;
    padding-top: 2px;
    width:90px;
    height: 32px;
  }
 
  .btn-option{
    border-radius: 5px;
    margin: 2px;
    margin-top: -1px;    
}

.input-test{
    height: 35px;
    margin-top:-2px;
    width:99.5%;   
    
}
.custom-table{
    padding: 2px;
    left: 5px;
}

.custom-table td {
    background-color: #007ad9; /* Cambia el color de fondo del encabezado */   
    color: white; /* Cambia el color del texto */          
}

.custom-table tH {
    background-color:#d4d4d4; /* Cambia el color de fondo del encabezado */
    color: black; /* Cambia el color del texto */  
    height: 5px;
       
}

.custom-table tr {
    height: 10px; /* Cambia este valor a la altura deseada */
    border: 1px solid white; /* Cambia el borde */  
}

.centered {
    text-align: center; /* Centra el texto horizontalmente */
    vertical-align: middle; /* Centra el texto verticalmente */
}

.p-date{
    font-size:18px;
}

.row2{
    background: white;
}