<div class="container-fluid">
    <div class="div-imprimir-inventario">
        <h4>Stock</h4>
        <div class="field">                           
            <div class="field col-12 md:col-3 mt-3">                           
                <button  pButton pRipple type="button" label="Cargar inventario" icon="pi pi-upload" iconPos="left" class="p-button-secondary button-cerrar" (click)="funct_cargar_inventario();"></button>            
            </div>   
        </div>
        <div class="field">                           
            <div class="field col-12 md:col-3 mt-3">                           
                <button  pButton pRipple type="button" label="Imprimir" icon="pi pi-print" iconPos="left" class="p-button-success button-cerrar" (click)="funct_imprime_inventario();"></button>            
            </div>   
        </div>      
    </div>
</div>