@media screen and (max-width: 1366px){
    .conten-ppal{
        position:absolute;
        border-radius: 5px;
        width: 99.5vw;
        height: 91vh;       
        left:3px;
        padding: 10px;       
        flex-direction: column;
        background: #4568DC;  /* fallback for old browsers */
        background: -webkit-linear-gradient(to bottom, #4568DC, #B06AB3);  /* Chrome 10-25, Safari 5.1-6 */
        background: linear-gradient(to bottom, #B06AB3, #4568DC); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */ 
    }

}

.example-additional-selection {
    width: 300px;
    font-size: 15px;
    line-height: 1;
  }

