<p-toast></p-toast>
<div class="container-fluid">
<div class="div_v">
    <h6>Asociar o eliminar vínculos:</h6>
    <span class="pi pi-calendar-times"> Fecha: 
      {{fecha_actual}}
    </span> 
    <br>
    <br>    
    <form [formGroup]="data">
    <div class="row">                      
      <div class="field col-12">                   
        <label for="titulo">Activar asociación por unidad</label>
        <div class="field-checkbox">     
          <p-checkbox [(ngModel)]="onChecked" [binary]="true" inputId="binary" (onChange)="onCheckboxChange($event)" formControlName="activaAsoc"></p-checkbox>      
        </div>
      </div>        
    </div>
    <div class="row mt-3">               
        <div class="field col-12">                         
            <input type="text" #siguienteInput2 [placeholder]="placeholder" style="width:20vw; top:-1px;" pInputText formControlName="codigoInic" (keydown)="onEnterPressed($event)">          
        </div> 
    </div>
    <div class="row spacing">               
        <div class="col-12 field">                      
            <input type="text" #siguienteInput [placeholder]="placeholder2" pInputText style="width:20vw; top:-1px;" formControlName="codigoVinc">           
        </div> 
    </div>   
    <div class="row btn-position">                      
      <div class="field col-12 md:col-3">                   
          <button  pButton pRipple type="button" label="Guardar" icon="pi pi-save" iconPos="left" class="p-button-success" (click)="funcRegistraVinculos();"></button>            
      </div>        
    </div>

    <div class="row btn-position">                      
      <div class="field col-12 md:col-3">                   
          <button  pButton pRipple type="button" label="Eliminar" icon="pi pi-trash" iconPos="left" class="p-button-danger" (click)=" funct_elimina_vinculos();"></button>            
      </div>        
    </div>
  </form>
</div>
</div>