
<p-dialog header="Total a pagar:" [(visible)]="visibleDialog" [modal]="true" >
  <div class="div-dialogo"> 
    <div class="p-3">           
      <div class="row align-items-start">        
        <div class="col-3 field">           
          <div class="field col-12 md:col-3">
            <label for="currency-us">Valor total:</label>
            <div class="div-pago-factura">
              {{venta_total | currency}}
            </div>
          </div>             
        </div> 
      </div>

      <div class="row align-items-start">
        <div class="col-3 field">
          <div class="field col-12 md:col-3">
            <label for="efectivo">Efectivo:</label> 
            <form [formGroup]="form">                
              <input id="efectivo" type="text" pInputText [(ngModel)]="total_efectivo" class="efectivo" formControlName="efectivo" (keydown.enter)="functCalculaEfectivo()" autofocus autocomplete="off"/>
            </form>
          </div>             
        </div> 
      </div>
      
      <div class="row align-items-start">
        <div class="col-3 field">
          <div class="field col-12 md:col-3">
            <label for="currency-us">Cambio:</label>
            <div class="div-cambio">
              {{total_cambio | currency}}
            </div>
          </div>             
        </div> 
      </div>
      <br>
      <div class="row align-items-start ">
        <div class="col-6"></div>
        <div class="col-3">
          <div class="div-align-right">
            <p-button label="Imprimir" icon="pi pi-print" styleClass="p-button p-button-warning" (click)="functImprimeFacturas()"></p-button>
          </div>             
        </div>
        <div class="col-3">
          <div class="div-align-right">
            <p-button label="Guardar" styleClass="p-button p-button-success" icon="pi pi-save" (click)="functCloseVentas();"></p-button>
          </div>             
        </div>              
      </div>     
     </div>         
     </div>    
</p-dialog>

